<div>
    <h2 id="page-heading">
        <span jhiTranslate="learnportalApp.taskFindData.home.title">Task Find Data</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-task-find-data" [routerLink]="['/task-find-data/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="learnportalApp.taskFindData.home.createLabel">
            Create a new Task Find Data
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="taskFindData?.length === 0">
        <span jhiTranslate="learnportalApp.taskFindData.home.notFound">No taskFindData found</span>
    </div>
    <div class="table-responsive" *ngIf="taskFindData?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="learnportalApp.taskFindData.content">Content</span></th>
            <th><span jhiTranslate="learnportalApp.taskFindData.task">Task</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let taskFindData of taskFindData ;trackBy: trackId">
                <td><a [routerLink]="['/task-find-data', taskFindData.id, 'view' ]">{{taskFindData.id}}</a></td>
                <td>{{taskFindData.content}}</td>
                <td>
                    <div *ngIf="taskFindData.task">
                        <a [routerLink]="['/task', taskFindData.task?.id, 'view' ]" >{{taskFindData.task?.title}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/task-find-data', taskFindData.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/task-find-data', taskFindData.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/task-find-data', { outlets: { popup: taskFindData.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
