<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-quiz-question-heading" jhiTranslate="learnportalApp.quizQuestion.home.createOrEditLabel">Create or edit a Quiz Question</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="learnportalApp.quizQuestion.text" for="field_text">Text</label>
                    <input type="text" class="form-control" name="text" id="field_text"
                           formControlName="text"/>
                    <div *ngIf="editForm.get('text').invalid && (editForm.get('text').dirty || editForm.get('text').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('text').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="learnportalApp.quizQuestion.description" for="field_description">Description</label>
                    <textarea class="form-control" name="description" id="field_description"
                              formControlName="description"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="learnportalApp.quizQuestion.quiz" for="field_quiz">Quiz</label>
                    <select class="form-control" id="field_quiz" name="quiz" formControlName="quiz">
                        <option *ngIf="!editForm.get('quiz').value" [ngValue]="null" selected></option>
                        <option [ngValue]="quizOption.id === editForm.get('quiz').value?.id ? editForm.get('quiz').value : quizOption" *ngFor="let quizOption of quizzes; trackBy: trackQuizById">{{quizOption.title}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('quiz').invalid && (editForm.get('quiz').dirty || editForm.get('quiz').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('quiz').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
