.category {
  font-style: normal;
  font-size: 15px;
  line-height: 18px;
  color: #79828b;
}

.description,
.content {
  word-wrap: break-word;
  font-size: 18px !important;
  line-height: inherit;
  color: rgba(0, 0, 0, 0.8);
}
