.edit-icon {
  color: green;
  font-size: 16px;
  opacity: 0.6;
}

.remove-icon {
  color: red;
  font-size: 21px;
  opacity: 0.6;
}

.theory-link {
  background-color: #657A90;
  opacity: 0.9;
}

.edit-icon:hover,
.remove-icon:hover,
.theory-link:hover {
  text-decoration: none;
  opacity: 1;
}

.text-reduction {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.full-width {
  width: 100%;
}

.theory-title-text {
  color: white;
}

.theory-category-text {
  color: #CDCED0;
}

.card-indent {
  margin-top: 30px;
}
