<div>
    <h2 id="page-heading" class="title text-center">
        <span jhiTranslate="learnportalApp.theory.home.title"></span>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>

    <div class="container">
        <div class="row">
            <div class="input-group mb-3 col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12 col-12">
                <input [(ngModel)]="searchValue" (ngModelChange)="onSearchChange()" class="form-control" placeholder="{{'entity.action.liveSearch' | translate}}" type="text"></div>
            <div class="input-group mb-3 col">
                <select [(ngModel)]="categoryId" (ngModelChange)="onSearchChange()" class="full-width custom-select">
                    <option selected value="" jhiTranslate="learnportalApp.category.choose"></option>
                    <option *ngFor="let category of categories ;trackBy: trackId" value="{{category.id}}">{{category.shortName}}</option>
                </select>
            </div>
            <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-xs-12 col-12">
                <button [routerLink]="['/theory/new']" class="btn btn-primary full-width" type="button"><fa-icon [icon]="'plus'"></fa-icon> {{'entity.action.add' | translate}}</button>
            </div>
        </div>

        <div class="alert alert-warning card-indent" *ngIf="theories?.length === 0">
            <span jhiTranslate="learnportalApp.theory.home.notFound"></span>
        </div>

        <div class="row">
            <div class="col-12">
                <div infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                    <div class="card card-indent" *ngFor="let theory of theories ;trackBy: trackId">
                        <a class="theory-link" [routerLink]="['/theory', theory.id, 'view' ]">
                            <h5 class="card-header theory-link">
                                <div class="row">
                                    <div title="{{theory.title}}" class="text-reduction col-6 theory-title-text">{{theory.title}}</div>
                                    <div title="{{theory.category?.fullName}}" class="text-reduction col-6 text-right theory-category-text">{{theory.category?.shortName}}</div>
                                </div>
                            </h5>
                        </a>
                        <div class="card-body">
                            <p title="{{theory.description}}" class="text-reduction card-text">{{theory.description}}</p>
                            <jhi-edit-remove-icons *jhiHasAnyAuthority="'ROLE_ADMIN'" entityId="{{theory.id}}" entityName="theory"></jhi-edit-remove-icons>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
