<div class="row justify-content-center">
    <div class="col-xl-8 col-lg-10 col-md-10 col-sm-10 col-12">
        <div class="container">
            <div *ngIf="theory">
                <jhi-alert-error></jhi-alert-error>
                <div class="row">
                    <div class="col-8">
                        <h1 class="title ">
                            {{theory.title}}
                        </h1>
                    </div>
                    <jhi-edit-remove-icons *jhiHasAnyAuthority="'ROLE_ADMIN'" class="col-4" entityId="{{theory.id}}" entityName="theory"></jhi-edit-remove-icons>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div *ngIf="theory.category" class="category mb-3">
                            <time>{{theory.category?.fullName}}</time>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="description font-weight-bold">
                            <p>{{theory.description}}</p>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="content">
                            <p [innerHTML]="theory.content | safeHtml"></p>
                        </div>
                    </div>
                </div>

                <jhi-recommended-links *ngIf="theory.category" categoryId="{{theory.category?.id}}"
                        currentEntity="theory"></jhi-recommended-links>

                <button type="submit"
                        (click)="previousState()"
                        class="btn btn-primary mb-2">
                    <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"></span>
                </button>
            </div>
        </div>
    </div>
</div>
