<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="questionAnswer">
            <h2><span jhiTranslate="learnportalApp.questionAnswer.detail.title">Question Answer</span> {{questionAnswer.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="learnportalApp.questionAnswer.text">Text</span></dt>
                <dd>
                    <span>{{questionAnswer.text}}</span>
                </dd>
                <dt><span jhiTranslate="learnportalApp.questionAnswer.correct">Correct</span></dt>
                <dd>
                    <span>{{questionAnswer.correct}}</span>
                </dd>
                <dt><span jhiTranslate="learnportalApp.questionAnswer.question">Question</span></dt>
                <dd>
                    <div *ngIf="questionAnswer.question">
                        <a [routerLink]="['/quiz-question', questionAnswer.question?.id, 'view']">{{questionAnswer.question?.text}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/question-answer', questionAnswer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
