<div>
    <h2 id="page-heading" class="title text-center">
        <span jhiTranslate="learnportalApp.deck.home.title"></span>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>

    <div class="container">
        <div class="row">
            <div class="input-group mb-3 col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12 col-12">
                <input [(ngModel)]="searchValue" (ngModelChange)="onSearchChange()" class="form-control" placeholder="{{'entity.action.liveSearch' | translate}}" type="text"></div>
            <div class="input-group mb-3 col">
                <select [(ngModel)]="categoryId" (ngModelChange)="onSearchChange()" class="full-width custom-select">
                    <option selected value="" jhiTranslate="learnportalApp.category.choose"></option>
                    <option *ngFor="let category of categories ;trackBy: trackId" value="{{category.id}}">{{category.shortName}}</option>
                </select>
            </div>
            <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-xs-12 col-12">
                <button [routerLink]="['/deck/new']" class="btn btn-primary full-width" type="button"><fa-icon [icon]="'plus'"></fa-icon> {{'entity.action.add' | translate}}</button>
            </div>
        </div>

        <div class="alert alert-warning card-indent" *ngIf="decks?.length === 0">
            <span jhiTranslate="learnportalApp.deck.home.notFound"></span>
        </div>

        <div class="row">
            <div class="col-12">
                <div infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                    <div class="card card-indent" *ngFor="let deck of decks ;trackBy: trackId">
                        <a *ngIf="deck.deck" (click)="openFile(deck.deckContentType, deck.deck)">
                            <h5 class="card-header deck-link">
                                <div class="row">
                                    <div title="{{deck.title}}" class="text-reduction col-6 deck-title-text">{{deck.title}}</div>
                                    <div title="{{deck.category?.fullName}}" class="text-reduction col-6 text-right deck-category-text">{{deck.category?.shortName}}</div>
                                </div>
                            </h5>
                        </a>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-1 col-lg-1 col-md-2 col-sm-2 col-xs-3 col-3">
                                    <a *ngIf="deck.deck" (click)="openFile(deck.deckContentType, deck.deck)">
                                        <fa-icon class="fa-5x powerpoint-img" [icon]="'file-powerpoint'"></fa-icon>
                                    </a>
                                </div>
                                <div class="col-xl-11 col-lg-11 col-md-10 col-sm-10 col-xs-9 col-9">
                                    <div class="row text-indent">
                                        <div class="col-12">
                                            <p title="{{deck.description}}" class="text-reduction card-text">{{deck.description}}</p>
                                        </div>
                                    </div>

                                    <div class="text-indent row">
                                        <div class="col-8">
                                            <div class="download-link text-reduction">
                                                <a *ngIf="deck.deck" (click)="openFile(deck.deckContentType, deck.deck)">
                                                    <span jhiTranslate="entity.action.download"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <jhi-edit-remove-icons class="col-4" *jhiHasAnyAuthority="'ROLE_ADMIN'" entityId="{{deck.id}}" entityName="deck"></jhi-edit-remove-icons>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
